<!DOCTYPE html>
<html>
<head>
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Restablecer Contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.token.id_for_label }}">Token</label>
            {{ form.token }}
            {% if form.token.errors %}
                <div class="alert alert-danger">
                    {% for error in form.token.errors %}
                        <strong>{{ error|escape }}</strong><br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.nueva_contrasena.id_for_label }}">Nueva Contraseña</label>
            {{ form.nueva_contrasena }}
            {% if form.nueva_contrasena.errors %}
                <div class="alert alert-danger">
                    {% for error in form.nueva_contrasena.errors %}
                        <strong>{{ error|escape }}</strong><br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
    </form>
</body>
</html>
