# Ignorar el archivo de base de datos SQLite
db.sqlite3

# Ignorar los archivos compilados de Python en __pycache__
__pycache__/*.pyc

# Ignorar los archivos .py en la carpeta migrations
migrations/*.py
