{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado de Cálculo</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/cssTabla.css' %}">
</head>
<body>
    <h1>Resultado de Cálculo</h1>
    <table border="1">
        <tr>
            <th>Documento</th>
            <th>Salud</th>
            <th>Pensión</th>
            <th>ARL</th>
            <th>Salario Base</th>
            <th>Caja de Compensación</th>
            <th>Cesantías</th>
            <th>Intereses de Cesantías</th>
            <th>Vacaciones</th>
            <th>Nivel de Riesgo</th>
        </tr>
        <tr>
            <td>{{ calculo.documento.numero_identificacion }}</td>
            <td>{{ calculo.salud }}</td>
            <td>{{ calculo.pension }}</td>
            <td>{{ calculo.arl }}</td>
            <td>{{ calculo.salarioBase }}</td>
            <td>{{ calculo.cajaCompensacion }}</td>
            <td>{{ calculo.cesantias }}</td>
            <td>{{ calculo.interesCesantias }}</td>
            <td>{{ calculo.vacaciones }}</td>
            <td>{{ calculo.get_nivel_riesgo_display }}</td>
        </tr>
    </table>
    <a href="{% url 'ListarEmpleados' %}">Volver a la lista de empleados</a>
</body>
</html>
