/* Estilos para el contenedor */
.contenedor {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para las etiquetas label */
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos para los inputs */
        form input[type="text"],
        form input[type="date"],
        form input[type="number"],
  form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para el botón */
  form button {
    width: calc(100% - 20px);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Cambiar estilos cuando el botón está siendo presionado */
  form button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el enlace de volver */
  .contenedor a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
    text-decoration: none;
  }
  
  /* Cambiar estilos cuando el enlace de volver está siendo pasado por encima */
  .contenedor a:hover {
    color: #333;
  }

  /* Estilos para el select */
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* Oculta el estilo nativo del navegador */
    -webkit-appearance: none; /* Para navegadores basados en WebKit */
    -moz-appearance: none; /* Para navegadores basados en Gecko */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><polygon points="6,0 0,6 12,6" style="fill:#666"/></svg>'); /* Flecha hacia abajo personalizada */
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 10px 6px;
}

/* Estilos para el botón desplegable */
form select::after {
    content: '\25BC'; /* Unicode para la flecha hacia abajo */
    font-size: 12px;
    color: #666;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que el pseudo-elemento afecte a la interacción del usuario */
}

.errorlist {
    display: none;
}