{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static './css/cssTabla.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Empresas</title>
</head>
<body>
    <h1>Lista de Empresas</h1>
    <table border="1">
        <tr>
            <th>Nit</th>
            <th>Razon Social</th>
            <th>Telefono Entidad</th>
            <th>Correo Entidad</th>
            <th>Imagen</th>
            <th>Accion</th>
        </tr>
        {% for empresa in get_empresa %}
        <tr>
            <td>{{ empresa.nit }}</td>
            <td>{{ empresa.razon_social }}</td>
            <td>{{ empresa.telefono_entidad }}</td>
            <td>{{ empresa.correo_entidad }}</td>
            
            <td><img src="{{ empresa.imagen.url }}" alt="Imagen" width="50"> </td>

           <td><a class="btn btn-warning" href="{% url 'editarEmpresa' empresa.nit %}">EDITAR</a></td>
           <td><a class="btn btn-warning" href="{% url 'eliminarempre' empresa.nit %}">Eliminar</a></td>
                
        </tr>
        {% endfor %}
    </table>
</body>
</html>
