{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menú de Inicio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <h2>REGISTRO EMPPLEADOS</h2>
    <form action= "{% url 'registroEmpleado' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="btnEnviar" class=button>ENVIAR</button>
    </form> 
</body>
</html>
